$_min_width: 1080px;
$_inner_width: 960px;
$_header_height: 100px;
$_logo_width: 180px;
$_footer_height: 100px;

$_raleway: "Raleway";
$_yugothic: "Yu Gothic Medium", "YuGothic";
$_font_raleway: $_raleway, $_yugothic, sans-sefif;
$_font_yugothic: $_yugothic, sans-serif;
$_font_verdana: Verdana, sans-serif;
$_bg_white: #ffffff;
$_bg_gray: #f3f3f3;
$_bg_dark_gray: #cccccc;
$_text_black: #1d1d1d;
$_text_green: #459993;
$_text_gray: #8e8e8e;

$_base_font_size: 10px;
@function fontSize($n) {
  @return $n * 0.1rem;
}
