html {
  font-size: 10px;
}

body {
  min-width: 1080px;
  color: #1d1d1d;
  background: #ffffff;
  line-height: 1;
  font-family: "Raleway", "Yu Gothic Medium", "YuGothic", sans-sefif;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page-inner {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
}

#page-header {
  background: #f3f3f3;
}
#page-header .headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
}
#page-header .siteHeading {
  width: 180px;
}
#page-header .siteHeading a {
  transition: all 0.4s ease;
}
#page-header .siteHeading a:hover {
  opacity: 0.7;
}
#page-header .globalNav .navList {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#page-header .globalNav .navList > li {
  margin-left: 50px;
}
#page-header .globalNav .navList a {
  display: block;
  position: relative;
  padding: 10px 0;
}
#page-header .globalNav .navList a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #1d1d1d;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
#page-header .globalNav .navList a:hover::before {
  left: 0;
  width: 100%;
  opacity: 1;
}

#page-main a {
  color: #FF5A5F;
}
#page-main a:hover {
  text-decoration: underline;
}
#page-main .section-footer {
  margin-top: 30px;
}
#page-main .section-footer .more {
  display: flex;
  justify-content: flex-end;
}
#page-main .section-footer .more a {
  display: block;
  position: relative;
  margin-right: 6px;
  padding-right: 44px;
  color: #1d1d1d;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#page-main .section-footer .more a::before, #page-main .section-footer .more a::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 4px;
  height: 1px;
  background: #1d1d1d;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
#page-main .section-footer .more a::before {
  width: 30px;
}
#page-main .section-footer .more a::after {
  width: 10px;
  transform-origin: 100% 0;
  transform: rotate(45deg);
}
#page-main .section-footer .more a:hover {
  text-decoration: none;
}
#page-main .section-footer .more a:hover::before, #page-main .section-footer .more a:hover::after {
  right: 0;
}
#page-main .section-footer .more a:hover::before {
  width: 34px;
}
#page-main .localNav {
  position: sticky;
  top: 0;
  margin: 20px 0;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.9);
}
#page-main .localNav .navList {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#page-main .localNav .navList .notation {
  text-transform: none;
}
#page-main .localNav .navList > li {
  margin: 0 24px;
}
#page-main .localNav .navList a {
  display: block;
  position: relative;
  padding: 10px 0;
  color: inherit;
}
#page-main .localNav .navList a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #1d1d1d;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
#page-main .localNav .navList a:hover {
  text-decoration: none;
}
#page-main .localNav .navList a:hover::before {
  left: 0;
  width: 100%;
  opacity: 1;
}
#page-main .localNav .navList a.current {
  color: #8e8e8e;
}
#page-main .localNav .navList a.current::before {
  display: none;
}

#page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background: #1d1d1d;
  color: #ffffff;
}
#page-footer .copyright {
  font-family: Verdana, sans-serif;
  letter-spacing: 0.1em;
}
#page-footer .copyright .author {
  text-transform: uppercase;
}

.labeledList {
  position: relative;
  width: 220px;
  margin: auto;
}
.labeledList::before, .labeledList::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 1px;
  background: #1d1d1d;
  box-shadow: 0 0 1px #1d1d1d;
}
.labeledList::before {
  top: 0;
}
.labeledList::after {
  height: 20px;
  transform-origin: 0 100%;
  transform: rotate(45deg);
}
.labeledList > li {
  box-sizing: border-box;
  margin-top: 30px;
  padding: 8px 16px;
  border-radius: 15px;
  background: #1d1d1d;
  color: #ffffff;
  text-align: center;
  font-family: "Yu Gothic Medium", "YuGothic", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
.labeledList > li:first-child {
  margin-top: 0;
}

.meteredList {
  width: 300px;
  margin: auto;
}
.meteredList > li {
  box-sizing: border-box;
  margin-top: 24px;
  font-family: "Yu Gothic Medium", "YuGothic", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.meteredList > li:first-child {
  margin-top: 0;
}
.meteredList .meterContainer {
  display: block;
  overflow: hidden;
  margin-top: 16px;
  border-radius: 5px;
  background: #cccccc;
}
.meteredList .meterContainer .meterValue {
  display: block;
  height: 10px;
  border-radius: 5px;
  background: #1d1d1d;
}

#id-top #page-header {
  background: #ffffff;
}
#id-top #page-main .sectionTitle {
  padding-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#id-top #mainVisual {
  position: relative;
  background: #ffffff;
}
#id-top #mainVisual::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  height: 500px;
  margin-left: -280px;
  background: url('../img/mainVisual/bg.jpg') no-repeat center left;
  transform: translate(0, -50%);
}
#id-top #mainVisual .page-inner {
  z-index: 1;
  position: relative;
  height: 660px;
}
#id-top #mainVisual .page-inner .textGroup {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
#id-top #mainVisual .page-inner .textGroup .name {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#id-top #mainVisual .page-inner .textGroup .name .familyName {
  margin-left: 0.4em;
}
#id-top #mainVisual .page-inner .textGroup .title {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#id-top #profile {
  background: #f3f3f3;
  padding-bottom: 80px;
}
#id-top #profile .page-inner {
  padding: 0 60px;
}
#id-top #profile .profileBlock {
  display: flex;
  justify-content: space-between;
}
#id-top #profile .profileBlock .profileImage {
  flex: 0 0 auto;
  width: 180px;
}
#id-top #profile .profileBlock .textGroup {
  flex: 0 1 auto;
  margin-left: 40px;
}
#id-top #profile .profileBlock .textGroup .name {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#id-top #profile .profileBlock .textGroup .name .en {
  text-transform: uppercase;
}
#id-top #profile .profileBlock .textGroup .profileText {
  margin-top: 20px;
  line-height: 1.6;
  font-family: "Yu Gothic Medium", "YuGothic", sans-serif;
}
#id-top #profile .profileBlock .textGroup .profileText p {
  margin-top: 8px;
}
#id-top #experiences {
  background: #ffffff;
}
#id-top #experiences .experienceItems {
  display: flex;
  justify-content: space-between;
}
#id-top #experiences .experienceItem {
  box-sizing: border-box;
  width: 450px;
  padding: 30px 30px 40px 30px;
  background: #f3f3f3;
}
#id-top #experiences .experienceItem .itemHeading {
  margin-bottom: 30px;
  font-family: "Yu Gothic Medium", "YuGothic", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#id-top #works {
  padding-bottom: 80px;
  background: #ffffff;
}
#id-top #works .imagedList {
  display: flex;
  flex-wrap: wrap;
}
#id-top #works .imagedList > li {
  flex: 0 0 320px;
}
#id-top #works .imagedList > li a {
  position: relative;
  display: block;
  height: 240px;
  background: no-repeat;
  background-size: cover;
}
#id-top #works .imagedList > li a[href$="/web/"] {
  background-image: url('../img/works/web.jpg');
}
#id-top #works .imagedList > li a[href$="/sp-app/"] {
  background-image: url('../img/works/sp-app.jpg');
}
#id-top #works .imagedList > li a[href$="/graphic-movie/"] {
  background-image: url('../img/works/graphic-movie.jpg');
}
#id-top #works .imagedList > li a[href$="/ui-ux/"] {
  background-image: url('../img/works/ui-ux.jpg');
}
#id-top #works .imagedList > li a[href$="/study/"] {
  background-image: url('../img/works/study.jpg');
}
#id-top #works .imagedList > li a[href$="/contents/"] {
  background-image: url('../img/works/contents.jpg');
}
#id-top #works .imagedList > li a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: all 0.4s ease;
}
#id-top #works .imagedList > li a:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}
#id-top #works .imagedList > li a:hover .label {
  margin-top: -4px;
  opacity: 1;
}
#id-top #works .imagedList > li .label {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s ease;
}
#id-top #works .imagedList > li .label .notation {
  text-transform: none;
}

#id-works #page-header .pageHeader .pageHeading {
  padding: 90px 0 130px;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#id-works #page-main .categorySection {
  margin: 50px 0 100px;
}
#id-works #page-main .categorySection .categoryTitle {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}
#id-works #page-main .categorySection .categoryTitle .notation {
  text-transform: none;
}
#id-works #page-main .categorySection .visualImage {
  margin: 40px auto 0;
}
#id-works #page-main .contentSection {
  margin: 100px 0;
}
#id-works #page-main .contentSection .contentTitle {
  font-family: "Yu Gothic Medium", "YuGothic", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}
#id-works #page-main .contentSection .contentBody {
  margin-top: 30px;
}
#id-works #page-main .contentSection .contentBody .contentImage {
  margin-bottom: 30px;
}
#id-works #page-main .contentSection .contentBody .contentTitleDetail {
  font-family: "Yu Gothic Medium", "YuGothic", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}
#id-works #page-main .contentSection .contentBody .contentSubInfo {
  margin-top: 16px;
  color: #8e8e8e;
  font-family: "Yu Gothic Medium", "YuGothic", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}
#id-works #page-main .contentSection .contentBody .textGroup {
  margin-top: 20px;
  line-height: 1.8;
  font-family: "Yu Gothic Medium", "YuGothic", sans-serif;
  font-size: 1.6rem;
}
#id-works #page-main .contentSection .contentBody .textGroup ul {
  list-style: disc;
  margin: 10px auto;
  margin-left: 1em;
}
#id-works #page-main .contentSection .contentBody .textGroup .listTitle {
  margin-top: 20px;
}
#id-works #page-main .contentSection .contentBody .textGroup .listLabel {
  font-weight: bold;
}
#id-works #page-main .contentSection .contentBody .heading {
  font-family: "Yu Gothic Medium", "YuGothic", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}
#id-works #page-main .contentSection .contentBody .contentImage {
  margin-top: 30px;
}
