#page-header {
  background: $_bg_white;
}
#page-main {
  .sectionTitle {
    padding-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: fontSize(30);
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}
#mainVisual {
  position: relative;
  background: $_bg_white;

  &::before {
    $img: "mainVisual/bg.jpg";
    $w: image-width($img);
    $h: image-height($img);
    content: "";
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    height: $h;
    margin-left: -280px;
    background: image-url($img) no-repeat center left;
    transform: translate(0, -50%);
  }
  .page-inner {
    z-index: 1;
    position: relative;
    height: 80px + 500px + 80px;

    .textGroup {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);

      .name {
        text-transform: uppercase;
        font-size: fontSize(50);
        font-weight: bold;
        letter-spacing: 0.1em;

        .familyName {
          margin-left: 0.4em;
        }
      }
      .title {
        margin-top: 20px;
        font-size: fontSize(20);
        font-weight: bold;
        letter-spacing: 0.1em;
      }
    }
  }
}
#profile {
  background: $_bg_gray;
  padding-bottom: 80px;

  .page-inner {
    padding: 0 60px;
  }
  .profileBlock {
    display: flex;
    justify-content: space-between;

    .profileImage {
      flex: 0 0 auto;
      width: 180px;
    }
    .textGroup {
      flex: 0 1 auto;
      margin-left: 40px;

      .name {
        font-size: fontSize(18);
        font-weight: bold;
        letter-spacing: 0.1em;

        .en {
          text-transform: uppercase;
        }
      }
      .profileText {
        margin-top: 20px;
        line-height: 1.5;
        font-family: $_font_yugothic;

        p {
          margin-top: 8px;
        }
      }
    }
  }
}
#experiences {
  background: $_bg_white;

  .experienceItems {
    display: flex;
    justify-content: space-between;
  }
  .experienceItem {
    box-sizing: border-box;
    width: 450px;
    padding: 30px 30px 40px 30px;
    background: $_bg_gray;

    .itemHeading {
      margin-bottom: 30px;
      font-family: $_font_yugothic;
      font-size: fontSize(16);
      font-weight: bold;
      letter-spacing: 0.1em;
    }
  }
}
#works {
  padding-bottom: 80px;
  background: $_bg_white;

  .imagedList {
    display: flex;
    flex-wrap: wrap;

    > li {
      flex: 0 0 320px;

      a {
        position: relative;
        display: block;
        height: 240px;

        $works: (web, sp-ios, graphic-movie, ui-ux, study, contents);
        @each $name in $works {
          &[href$="/#{$name}/"] {
            $img: "works/#{$name}.jpg";
            background: image-url($img) no-repeat;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: transparent;
          transition: all 0.4s ease;
        }
        &:hover {
          &::before {
            background-color: rgba(#000, 0.6);
          }
          .label {
            margin-top: -4px;
            opacity: 1;
          }
        }
      }
      .label {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 4px;
        color: $_bg_white;
        text-transform: uppercase;
        font-size: fontSize(20);
        font-weight: bold;
        letter-spacing: 0.1em;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.4s ease;

        .notation {
          text-transform: none;
        }
      }
    }
  }
}
